In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('data/Ephemeriden-Daten 2025.xlsx')
df.head()

,datum,daemmerung_beginn_astronomisch,daemmerung_beginn_nautisch,daemmerung_beginn_buergerlich,sonnenaufgang,mittag,sonnenuntergang,daemmerung_ende_buergerlich,daemmerung_ende_nautisch,daemmerung_ende_astronomisch,mitternacht
0,Jan. 1 Mi,6 25,7 04,7 46,8 24,12 28,16 33,17 12,17 53,18 32,0 28
1,Jan. 2 Do,6 25,7 04,7 45,8 24,12 29,16 34,17 13,17 54,18 33,0 29
2,Jan. 3 Fr,6 25,7 04,7 45,8 24,12 29,16 35,17 14,17 55,18 34,0 29
3,Jan. 4 Sa,6 25,7 04,7 45,8 23,12 30,16 37,17 15,17 56,18 35,0 30
4,Jan. 5 So,6 25,7 04,7 45,8 23,12 30,16 38,17 16,17 57,18 36,0 30

In [3]:

# Erstelle ein Mapping der Monatsabkürzungen zu Zahlen
month_mapping = {
    'Jan.': '01', 'Feb.': '02', 'Mrz.': '03', 'Apr.': '04',
    'Mai': '05', 'Juni': '06', 'Juli': '07', 'Aug.': '08',
    'Sep.': '09', 'Okt.': '10', 'Nov.': '11', 'Dez.': '12'
}

# Funktion zum Umwandeln der Daten
def convert_to_date(date_str):
    # Trenne den Monat und Tag von der Wochentagsabkürzung
    parts = date_str.split()
    month_str = parts[0]  # Monat (z.B. "Jan.")
    day_str = parts[1]    # Tag (z.B. "3")
    
    # Monat und Tag in ein korrektes Format bringen
    month = month_mapping.get(month_str, '01')  # Standard auf "01" setzen, falls nicht gefunden
    day = day_str.zfill(2)  # Tag auf 2 Stellen auffüllen (z.B. "03")
    
    # Das Jahr hinzufügen (2025)
    year = '2025'
    
    # Datum als String im Format "YYYY-MM-DD" zusammenbauen
    return f"{year}-{month}-{day}"

In [4]:


for column in df.columns:
    if column != 'datum':
        df[column] = df[column].astype(str)
        df[column] = df[column].replace('////', None)
        df[column] = df[column].apply(lambda x: (':'.join([i.zfill(2) for i in x.split()])) if x is not None else None)
    else:
        df[column] = df[column].apply(convert_to_date)
        df[column] = pd.to_datetime(df[column])

df

,datum,daemmerung_beginn_astronomisch,daemmerung_beginn_nautisch,daemmerung_beginn_buergerlich,sonnenaufgang,mittag,sonnenuntergang,daemmerung_ende_buergerlich,daemmerung_ende_nautisch,daemmerung_ende_astronomisch,mitternacht
0,2025-01-01,06:25,07:04,07:46,08:24,12:28,16:33,17:12,17:53,18:32,00:28
1,2025-01-02,06:25,07:04,07:45,08:24,12:29,16:34,17:13,17:54,18:33,00:29
2,2025-01-03,06:25,07:04,07:45,08:24,12:29,16:35,17:14,17:55,18:34,00:29
3,2025-01-04,06:25,07:04,07:45,08:23,12:30,16:37,17:15,17:56,18:35,00:30
4,2025-01-05,06:25,07:04,07:45,08:23,12:30,16:38,17:16,17:57,18:36,00:30
...,...,...,...,...,...,...,...,...,...,...,...
360,2025-12-27,06:24,07:03,07:45,08:23,12:26,16:28,17:07,17:49,18:28,00:26
361,2025-12-28,06:24,07:03,07:45,08:24,12:26,16:29,17:08,17:49,18:29,00:26
362,2025-12-29,06:24,07:04,07:45,08:24,12:27,16:30,17:09,17:50,18:30,00:27
363,2025-12-30,06:24,07:04,07:45,08:24,12:27,16:31,17:10,17:51,18:31,00:27
364,2025-12-31,06:25,07:04,07:45,08:24,12:28,16:32,17:10,17:52,18:31,00:28

In [5]:
def get_data_for_date(tag, monat):
    result = df[(df['datum'].dt.day == tag) & (df['datum'].dt.month == monat)]
    return result

In [6]:
get_data_for_date(21,6)

,datum,daemmerung_beginn_astronomisch,daemmerung_beginn_nautisch,daemmerung_beginn_buergerlich,sonnenaufgang,mittag,sonnenuntergang,daemmerung_ende_buergerlich,daemmerung_ende_nautisch,daemmerung_ende_astronomisch,mitternacht
171,2025-06-21,None,03:24,04:30,05:15,13:27,21:38,22:23,23:30,None,01:27